name: CI Workflow
on:
  push:
    branches:
      - master
jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build for Linux
        run: cargo build --target x86_64-unknown-linux-gnu
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Windows target
        run: rustup target add x86_64-pc-windows-gnu
      - name: Build for Windows
        run: cargo build --target x86_64-pc-windows-gnu
